*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #a9a9a9;
}

.heading {
    text-align: center;
    line-height: 0.5rem;
}

h1 {
    font-size: 3.5rem;
}

.disclaimer {
    font-weight: 200;
    font-size: 0.5rem;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 4px solid #333;
    width: min(90vw, 640px);
    aspect-ratio: 1/1;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.square .piece {
  width: 80%;
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.square.light {
  background-color: #f0d9b5;
}

.square.dark {
  background-color: #b58863;
}

.square:hover {
  outline: 2px solid yellow;
  outline-offset: -2px;
}

.square.selected {
  box-shadow: inset 0 0 0 4px rgba(255, 255, 0, 0.5);
}

.square[data-piece="pawn"] .piece {
    background-image: url("/src/images/pawn.svg");
}

.square[data-piece="bishop"] .piece {
    background-image: url("/src/images/bishop.svg");
}

.square[data-piece="king"] .piece {
    background-image: url("/src/images/king.svg");
}

.square[data-piece="knight"] .piece {
    background-image: url("/src/images/knight.svg");
}

.square[data-piece="queen"] .piece {
    background-image: url("/src/images/queen.svg");
}

.square[data-piece="rook"] .piece {
    background-image: url("/src/images/rook.svg");
}

.square[data-color="black"] .piece {
    filter: invert(1);
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 80%;
    margin: auto;
    margin-bottom: 5%;
}

.navigation h2 {
    align-self: center;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.list-item {
    list-style: none;
}

.link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: #ff0000;
    padding: 1rem;
    border-radius: 1.5rem;
    font-size: 1rem;
    line-height: 1;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    transform: translateZ(0);
    backface-visibility: hidden;
    will-change: transform;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.link.unavailable {
    opacity: 0.6;
}

.link.unavailable:hover {
    transform: none;
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.6;
}

.link:hover {
    transform: scale(1.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}